In [4]:
import pandas as pd
import requests
import numpy as np

In [ ]:
def request_api(url):
    return response = requests.get(url)

In [ ]:
def content_trans(x):
    x = request_api()

In [ ]:
def dataframe_generator():

### Data acquisition

In [5]:
response = requests.get('https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=ML&format=json')

In [6]:
response

In [7]:
df = pd.DataFrame(response.json())

-------------------------------------------------

### Evaluation

In [8]:
df.head()

,pl_name,rastr,decstr,pl_masse,pl_masseerr1,pl_masseerr2,pl_masselim,pl_massj,pl_massjerr1,pl_massjerr2,...,ml_radeinang,ml_radeinangerr1,ml_radeinangerr2,ml_radeinanglim,ml_pmrells,ml_pmrellserr1,ml_pmrellserr2,ml_pmrellslim,ml_modeldef,htmllink
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.56,-6.66,0,0.06475,0.0018,-0.021,...,0.503,0.034,-0.034,0.0,9.03,0.63,-0.63,0.0,0,<a refstr=SUMI_ET_AL__2016 href=https://ui.ads...
2,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
3,OGLE-2005-BLG-390L b,17h54m19.2s,-30d22m38s,5.50,5.50,-2.70,0,0.01700,0.0170,-0.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,<a refstr=BEAULIEU_ET_AL__2006 href=https://ui...
4,OGLE-2012-BLG-0950L b,18h08m04.62s,-29d43m53.7s,36.00,8.00,-6.00,0,0.11000,0.0300,-0.020,...,0.860,0.150,-0.060,0.0,4.60,0.90,-0.30,0.0,0,<a refstr=KOSHIMOTO_ET_AL__2017 href=https://u...

In [9]:
df.shape

(331, 73)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pl_name            331 non-null    object
 1   rastr              331 non-null    object
 2   decstr             331 non-null    object
 3   pl_masse           299 non-null    float64
 4   pl_masseerr1       296 non-null    float64
 5   pl_masseerr2       296 non-null    float64
 6   pl_masselim        331 non-null    int64
 7   pl_massj           299 non-null    float64
 8   pl_massjerr1       296 non-null    float64
 9   pl_massjerr2       296 non-null    float64
 10  pl_massjlim        331 non-null    int64
 11  pl_orbsmax         296 non-null    float64
 12  pl_orbsmaxerr1     271 non-null    float64
 13  pl_orbsmaxerr2     271 non-null    float64
 14  pl_orbsmaxlim      330 non-null    float64
 15  st_mass            301 non-null    float64
 16  st_masserr1        298 non-null    float64
 17  st_masserr2        298 non-null    float64
 18  st_masslim         301 non-null    float64
 19  sy_dist            297 non-null    float64
 20  sy_disterr1        274 non-null    float64
 21  sy_disterr2        274 non-null    float64
 22  sy_distlim         297 non-null    float64
 23  ml_dists           108 non-null    float64
 24  ml_distserr1       40 non-null     float64
 25  ml_distserr2       39 non-null     float64
 26  ml_distslim        108 non-null    float64
 27  ml_tsepmin         312 non-null    float64
 28  ml_tsepminerr1     304 non-null    float64
 29  ml_tsepminerr2     304 non-null    float64
 30  ml_tsepminlim      312 non-null    float64
 31  ml_sepminnorm      311 non-null    float64
 32  ml_sepminnormerr1  302 non-null    float64
 33  ml_sepminnormerr2  302 non-null    float64
 34  ml_sepminnormlim   311 non-null    float64
 35  ml_xtimeein        316 non-null    float64
 36  ml_xtimeeinerr1    306 non-null    float64
 37  ml_xtimeeinerr2    306 non-null    float64
 38  ml_xtimeeinlim     316 non-null    float64
 39  ml_radsnorm        270 non-null    float64
 40  ml_radsnormerr1    223 non-null    float64
 41  ml_radsnormerr2    223 non-null    float64
 42  ml_radsnormlim     270 non-null    float64
 43  ml_sepinsnorp      312 non-null    float64
 44  ml_sepinsnorperr1  306 non-null    float64
 45  ml_sepinsnorperr2  306 non-null    float64
 46  ml_sepinsnorplim   312 non-null    float64
 47  ml_massratio       314 non-null    float64
 48  ml_massratioerr1   308 non-null    float64
 49  ml_massratioerr2   308 non-null    float64
 50  ml_massratiolim    314 non-null    float64
 51  ml_angstlax        311 non-null    float64
 52  ml_angstlaxerr1    303 non-null    float64
 53  ml_angstlaxerr2    303 non-null    float64
 54  ml_angstlaxlim     311 non-null    float64
 55  ml_magis           245 non-null    float64
 56  ml_magiserr1       222 non-null    float64
 57  ml_magiserr2       222 non-null    float64
 58  ml_magislim        245 non-null    float64
 59  ml_magibl          65 non-null     float64
 60  ml_magiblerr1      39 non-null     float64
 61  ml_magiblerr2      39 non-null     float64
 62  ml_magibllim       65 non-null     float64
 63  ml_radeinang       269 non-null    float64
 64  ml_radeinangerr1   248 non-null    float64
 65  ml_radeinangerr2   248 non-null    float64
 66  ml_radeinanglim    269 non-null    float64
 67  ml_pmrells         256 non-null    float64
 68  ml_pmrellserr1     242 non-null    float64
 69  ml_pmrellserr2     242 non-null    float64
 70  ml_pmrellslim      256 non-null    float64
 71  ml_modeldef        331 non-null    int64
 72  htmllink           331 non-null    object
dtypes: float64(66), int64(3), object(4)
memory usage: 188.9+ KB

In [50]:
df.isnull().sum()

planet_name                  0
ra_event                     0
dec_event                    0
earth_massses               32
jupyter_masses              32
planet_orbmax               35
lens_distance               34
source_distance            223
einstein_cross_time         15
source_mag                  17
planet_star_mass_ratio      86
angular_einstein_radius     62
dtype: int64

In [12]:
df.columns

Index(['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_masseerr1',
       'pl_masseerr2', 'pl_masselim', 'pl_massj', 'pl_massjerr1',
       'pl_massjerr2', 'pl_massjlim', 'pl_orbsmax', 'pl_orbsmaxerr1',
       'pl_orbsmaxerr2', 'pl_orbsmaxlim', 'st_mass', 'st_masserr1',
       'st_masserr2', 'st_masslim', 'sy_dist', 'sy_disterr1', 'sy_disterr2',
       'sy_distlim', 'ml_dists', 'ml_distserr1', 'ml_distserr2', 'ml_distslim',
       'ml_tsepmin', 'ml_tsepminerr1', 'ml_tsepminerr2', 'ml_tsepminlim',
       'ml_sepminnorm', 'ml_sepminnormerr1', 'ml_sepminnormerr2',
       'ml_sepminnormlim', 'ml_xtimeein', 'ml_xtimeeinerr1', 'ml_xtimeeinerr2',
       'ml_xtimeeinlim', 'ml_radsnorm', 'ml_radsnormerr1', 'ml_radsnormerr2',
       'ml_radsnormlim', 'ml_sepinsnorp', 'ml_sepinsnorperr1',
       'ml_sepinsnorperr2', 'ml_sepinsnorplim', 'ml_massratio',
       'ml_massratioerr1', 'ml_massratioerr2', 'ml_massratiolim',
       'ml_angstlax', 'ml_angstlaxerr1', 'ml_angstlaxerr2', 'ml_angstlaxlim',
       'ml_magis', 'ml_magiserr1', 'ml_magiserr2', 'ml_magislim', 'ml_magibl',
       'ml_magiblerr1', 'ml_magiblerr2', 'ml_magibllim', 'ml_radeinang',
       'ml_radeinangerr1', 'ml_radeinangerr2', 'ml_radeinanglim', 'ml_pmrells',
       'ml_pmrellserr1', 'ml_pmrellserr2', 'ml_pmrellslim', 'ml_modeldef',
       'htmllink'],
      dtype='object')

### Documentation

Como se puede observar los nombres de cada una de las columnas no son intuitivos. Se puede visitar la siguiente documentación para una explicación de el significado de cada una de las columnas y lo que representa:

https://exoplanetarchive.ipac.caltech.edu/docs/API_ML.html
https://exoplanetarchive.ipac.caltech.edu/docs/microlensing-column-mapping.pdf

Sin embargo solo seran seleccionadas las listadas a continuación:

- **pl_name:** Planet Name (Planet name)
- **rastr:** RA (Right ascension of the microlensing event, in sexagesimal format
- **decstr:** Declination of the microlensing event, in sexagesimal format
- **pl_masse:** Mass of planet, in Earth masses
- **pl_massj:** Planet Mass (Mass of planet, in Jupiter masses)
- **pl_orbsmax** Planet-star Projected Semi-major Axis, unidad = Astronomical unit (au) 
- **sy_dist:** Lens Distance, unidad = Parsec (pc)
- **ml_dists:** Source Distance, unidad = Parsec (pc)
- **ml_xtimeein:**'  
- **ml_massratio:** Planet-star Mass Ratio (10^-4)
- **ml_magis:** Source I-band unidad = mag 
- **ml_radeinang:** Angular Einstein Radius, unidad = mas

De la siguiente manera se pueden seleccionar las columnas especificadas anteriormente.

### wrangling

In [18]:
to_keep = ['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_massj', 'pl_orbsmax', 'sy_dist',
           'ml_dists', 'ml_xtimeein', 'ml_massratio', 'ml_magis', 'ml_radeinang']

Nos aseguramos de que esten bien los nombres

In [20]:
df = df[to_keep]

In [22]:
df.head(3)

,pl_name,rastr,decstr,pl_masse,pl_massj,pl_orbsmax,sy_dist,ml_dists,ml_xtimeein,ml_massratio,ml_magis,ml_radeinang
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,NaN,8000.0,16.18,19.100,20.680,0.250
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.06475,4.18,3550.0,NaN,19.83,3.124,18.112,0.503
2,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,NaN,8000.0,16.02,18.200,20.680,0.250

**Cambiando los nombres a las columnas por nombres más intuitivos**

In [26]:
df.columns

Index(['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_massj', 'pl_orbsmax',
       'sy_dist', 'ml_dists', 'ml_xtimeein', 'ml_massratio', 'ml_magis',
       'ml_radeinang'],
      dtype='object')

In [30]:
len(df.columns)

12

In [35]:
df.columns

Index(['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_massj', 'pl_orbsmax',
       'sy_dist', 'ml_dists', 'ml_xtimeein', 'ml_massratio', 'ml_magis',
       'ml_radeinang'],
      dtype='object')

In [36]:
new_names = ['planet_name',  'ra_event', 'dec_event', 'earth_massses', 'jupyter_masses', 
              'planet_orbmax', 'lens_distance', 'source_distance', 'einstein_cross_time', 'source_mag',
             'planet_star_mass_ratio', 'angular_einstein_radius']

In [42]:
old_names = [name for name in df.columns]
len(old_names)

12

In [37]:
len(new_names)

12

In [47]:
dict_names = (dict(zip(old_names, new_names)))

In [48]:
df.rename(columns=dict_names, inplace=True)

In [56]:
df.head(10)

,planet_name,ra_event,dec_event,earth_massses,jupyter_masses,planet_orbmax,lens_distance,source_distance,einstein_cross_time,source_mag,planet_star_mass_ratio,angular_einstein_radius
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,NaN,8000.0,16.180,19.100,20.680,0.250
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.06475,4.180,3550.0,NaN,19.830,3.124,18.112,0.503
2,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,NaN,8000.0,16.020,18.200,20.680,0.250
3,OGLE-2005-BLG-390L b,17h54m19.2s,-30d22m38s,5.50,0.01700,2.600,6600.0,8000.0,11.030,0.760,NaN,NaN
4,OGLE-2012-BLG-0950L b,18h08m04.62s,-29d43m53.7s,36.00,0.11000,2.700,3400.0,NaN,68.500,1.900,19.300,0.860
5,OGLE-2016-BLG-1067L b,18h12m49.08s,-27d00m45.5s,140.00,0.43000,1.710,3780.0,7660.0,27.600,13.170,18.800,NaN
6,OGLE-2018-BLG-0740L b,18h08m42.47s,-29d50m08.9s,350.00,1.10000,1.500,7200.0,8000.0,62.630,23.000,21.540,0.280
7,OGLE-2017-BLG-0373L b,17h57m19.06s,-31d57m06.2s,60.10,0.18900,2.575,5810.0,NaN,12.849,6.510,NaN,0.317
8,OGLE-2007-BLG-368L b,17h56m25.96s,-32d14m14.7s,20.00,0.06000,2.800,5900.0,NaN,55.400,0.950,19.510,0.529
9,KMT-2016-BLG-2142L b,17h52m26.88s,-29d23m04.42s,4923.00,15.49000,0.830,7010.0,NaN,5.150,2030.000,3.900,0.122

In [61]:
df.shape

(331, 12)

In [59]:
df.to_csv('microlensing_data.csv', index=False)

### Description

In [53]:
df.isnull().mean()

planet_name                0.000000
ra_event                   0.000000
dec_event                  0.000000
earth_massses              0.096677
jupyter_masses             0.096677
planet_orbmax              0.105740
lens_distance              0.102719
source_distance            0.673716
einstein_cross_time        0.045317
source_mag                 0.051360
planet_star_mass_ratio     0.259819
angular_einstein_radius    0.187311
dtype: float64

Quizas podrías expresar lens_distance y source_distance en kilometros o años luz - data enrichment

Obten la composite planet data para ver si puedes encontrar los missing values del datafrae de los planetas encontrados por microlensing **done**

Puedes ver cuantos han sido descubiertos por microlensing, transito o otros metodos

Categorical column base in mass

Description about the planet from here 
https://exoplanets.nasa.gov/discovery/exoplanet-catalog/

Hacer un concat de las 452 tablas que tienes aquí (tienes que usar selenium para esto)
https://exoplanets.nasa.gov/discovery/exoplanet-catalog/

Quieres entrar en cada uno de estos y obtener el tipo de planeta y el metodo de deteción
https://exoplanets.nasa.gov/exoplanet-catalog/7466/ogle-2016-blg-1067l-b/

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   planet_name              331 non-null    object
 1   ra_event                 331 non-null    object
 2   dec_event                331 non-null    object
 3   earth_massses            299 non-null    float64
 4   jupyter_masses           299 non-null    float64
 5   planet_orbmax            296 non-null    float64
 6   lens_distance            297 non-null    float64
 7   source_distance          108 non-null    float64
 8   einstein_cross_time      316 non-null    float64
 9   source_mag               314 non-null    float64
 10  planet_star_mass_ratio   245 non-null    float64
 11  angular_einstein_radius  269 non-null    float64
dtypes: float64(9), object(3)
memory usage: 31.2+ KB

- sustituir valores nulos con la otra tabla
- Data enrichment agregando como nuevas columnas lens_distance y source distance en años luz
- Transformar la ascención recta de object a otro valor más representativo
- Agregar al dataframe de microlensing la descripción de cada planeta que se detecto por está tecnica
- Colacar una columna de valores categoricos basado gass giant...etc de acuerdo a la masa de cada planeta.
- Agregar la descripción a la tabla más grande 
- Hacer un join con la de microlensing  de 300 con el filter de microlensing para tener un nuevo dataframe con valores mixtos y la descripción
- Calcular el número de planetas que son de un tipo especifico gass giant...etc
- Calcular el número de planetas por el metodo de detectión 
- sort value de manera descendente del periodo orbital (cuál es el más rápido) groupby (orbital period y tamaño de la orbita) leyes de kepler
- Después puedes graficar en base a planet type column (puedes hacer uno dandole tamaño del punto con planet mass column y un histograma de frecuencias con la columna type)

#### How to make query

https://exoplanetarchive.ipac.caltech.edu/docs/TAP/usingTAP.html

#### Planetary systems composite documentation

https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html

In [81]:
response = requests.get('https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_telescope,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,pl_bmassj,pl_orbeccen,st_spectype,st_teff,st_rad,st_mass,sy_dist+from+pscomppars&format=json')

In [82]:
response

In [83]:
ps_comp = pd.DataFrame(response.json())

In [84]:
ps_comp.head()

,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_telescope,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,pl_bmassj,pl_orbeccen,st_spectype,st_teff,st_rad,st_mass,sy_dist
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,1,1,Microlensing,2020,1.3 m Warsaw University Telescope,NaN,3.4000,13.90,1.240,250.0,0.79000,NaN,None,NaN,NaN,0.10,NaN
1,GJ 480 b,GJ 480,1,1,Radial Velocity,2020,Multiple Telescopes,9.567000,0.0680,3.69,0.330,13.2,0.04153,0.1,M3.5 Ve,3381.0,0.46,0.45,14.2358
2,Kepler-276 c,Kepler-276,1,3,Transit,2013,0.95 m Kepler Telescope,31.884000,0.1994,2.90,0.259,16.6,0.05200,0.0,None,5779.0,1.03,1.10,1144.8600
3,Kepler-829 b,Kepler-829,1,1,Transit,2016,0.95 m Kepler Telescope,6.883376,0.0678,2.11,0.188,5.1,0.01600,0.0,None,5698.0,0.97,0.98,1073.7600
4,K2-283 b,K2-283,1,1,Transit,2018,0.95 m Kepler Telescope,1.921036,0.0291,3.52,0.314,12.2,0.03830,NaN,None,5060.0,0.82,0.89,402.9150

In [85]:
ps_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4516 entries, 0 to 4515
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          4516 non-null   object
 1   hostname         4516 non-null   object
 2   sy_snum          4516 non-null   int64
 3   sy_pnum          4516 non-null   int64
 4   discoverymethod  4516 non-null   object
 5   disc_year        4516 non-null   int64
 6   disc_telescope   4516 non-null   object
 7   pl_orbper        4365 non-null   float64
 8   pl_orbsmax       4331 non-null   float64
 9   pl_rade          4502 non-null   float64
 10  pl_radj          4500 non-null   float64
 11  pl_bmasse        4494 non-null   float64
 12  pl_bmassj        4494 non-null   float64
 13  pl_orbeccen      3981 non-null   float64
 14  st_spectype      1638 non-null   object
 15  st_teff          4394 non-null   float64
 16  st_rad           4375 non-null   float64
 17  st_mass          4512 non-null   float64
 18  sy_dist          4510 non-null   float64
dtypes: float64(11), int64(3), object(5)
memory usage: 670.5+ KB

In [87]:
ps_comp.isnull().mean()

pl_name            0.000000
hostname           0.000000
sy_snum            0.000000
sy_pnum            0.000000
discoverymethod    0.000000
disc_year          0.000000
disc_telescope     0.000000
pl_orbper          0.033437
pl_orbsmax         0.040965
pl_rade            0.003100
pl_radj            0.003543
pl_bmasse          0.004872
pl_bmassj          0.004872
pl_orbeccen        0.118468
st_spectype        0.637290
st_teff            0.027015
st_rad             0.031222
st_mass            0.000886
sy_dist            0.001329
dtype: float64

In [92]:
ps_comp['discoverymethod'].value_counts().plot(kind=bar)

NameError: name 'bar' is not defined

In [93]:
ps_comp.to_csv('ps_comp_data.csv')