In [2]:
import pandas as pd
import requests
import numpy as np

In [ ]:
def request_api(url):
    return response = requests.get(url)

In [ ]:
def content_trans(x):
    x = request_api()

In [ ]:
def dataframe_generator():

### Primer dataframe

### Data acquisition

In [98]:
response = requests.get('https://exoplanetarchive.ipac.caltech.edu/cgi-bin/nstedAPI/nph-nstedAPI?table=ML&format=json')

In [99]:
response

In [100]:
mlen = pd.DataFrame(response.json())

-------------------------------------------------

### Evaluation

In [101]:
mlen.head()

,pl_name,rastr,decstr,pl_masse,pl_masseerr1,pl_masseerr2,pl_masselim,pl_massj,pl_massjerr1,pl_massjerr2,...,ml_radeinang,ml_radeinangerr1,ml_radeinangerr2,ml_radeinanglim,ml_pmrells,ml_pmrellserr1,ml_pmrellserr2,ml_pmrellslim,ml_modeldef,htmllink
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.56,-6.66,0,0.06475,0.0018,-0.021,...,0.503,0.034,-0.034,0.0,9.03,0.63,-0.63,0.0,0,<a refstr=SUMI_ET_AL__2016 href=https://ui.ads...
2,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
3,OGLE-2005-BLG-390L b,17h54m19.2s,-30d22m38s,5.50,5.50,-2.70,0,0.01700,0.0170,-0.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,<a refstr=BEAULIEU_ET_AL__2006 href=https://ui...
4,OGLE-2012-BLG-0950L b,18h08m04.62s,-29d43m53.7s,36.00,8.00,-6.00,0,0.11000,0.0300,-0.020,...,0.860,0.150,-0.060,0.0,4.60,0.90,-0.30,0.0,0,<a refstr=KOSHIMOTO_ET_AL__2017 href=https://u...

In [102]:
mlen.shape

(331, 73)

In [103]:
mlen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 73 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pl_name            331 non-null    object
 1   rastr              331 non-null    object
 2   decstr             331 non-null    object
 3   pl_masse           299 non-null    float64
 4   pl_masseerr1       296 non-null    float64
 5   pl_masseerr2       296 non-null    float64
 6   pl_masselim        331 non-null    int64
 7   pl_massj           299 non-null    float64
 8   pl_massjerr1       296 non-null    float64
 9   pl_massjerr2       296 non-null    float64
 10  pl_massjlim        331 non-null    int64
 11  pl_orbsmax         296 non-null    float64
 12  pl_orbsmaxerr1     271 non-null    float64
 13  pl_orbsmaxerr2     271 non-null    float64
 14  pl_orbsmaxlim      330 non-null    float64
 15  st_mass            301 non-null    float64
 16  st_masserr1        298 non-null    float64
 17  st_masserr2        298 non-null    float64
 18  st_masslim         301 non-null    float64
 19  sy_dist            297 non-null    float64
 20  sy_disterr1        274 non-null    float64
 21  sy_disterr2        274 non-null    float64
 22  sy_distlim         297 non-null    float64
 23  ml_dists           108 non-null    float64
 24  ml_distserr1       40 non-null     float64
 25  ml_distserr2       39 non-null     float64
 26  ml_distslim        108 non-null    float64
 27  ml_tsepmin         312 non-null    float64
 28  ml_tsepminerr1     304 non-null    float64
 29  ml_tsepminerr2     304 non-null    float64
 30  ml_tsepminlim      312 non-null    float64
 31  ml_sepminnorm      311 non-null    float64
 32  ml_sepminnormerr1  302 non-null    float64
 33  ml_sepminnormerr2  302 non-null    float64
 34  ml_sepminnormlim   311 non-null    float64
 35  ml_xtimeein        316 non-null    float64
 36  ml_xtimeeinerr1    306 non-null    float64
 37  ml_xtimeeinerr2    306 non-null    float64
 38  ml_xtimeeinlim     316 non-null    float64
 39  ml_radsnorm        270 non-null    float64
 40  ml_radsnormerr1    223 non-null    float64
 41  ml_radsnormerr2    223 non-null    float64
 42  ml_radsnormlim     270 non-null    float64
 43  ml_sepinsnorp      312 non-null    float64
 44  ml_sepinsnorperr1  306 non-null    float64
 45  ml_sepinsnorperr2  306 non-null    float64
 46  ml_sepinsnorplim   312 non-null    float64
 47  ml_massratio       314 non-null    float64
 48  ml_massratioerr1   308 non-null    float64
 49  ml_massratioerr2   308 non-null    float64
 50  ml_massratiolim    314 non-null    float64
 51  ml_angstlax        311 non-null    float64
 52  ml_angstlaxerr1    303 non-null    float64
 53  ml_angstlaxerr2    303 non-null    float64
 54  ml_angstlaxlim     311 non-null    float64
 55  ml_magis           245 non-null    float64
 56  ml_magiserr1       222 non-null    float64
 57  ml_magiserr2       222 non-null    float64
 58  ml_magislim        245 non-null    float64
 59  ml_magibl          65 non-null     float64
 60  ml_magiblerr1      39 non-null     float64
 61  ml_magiblerr2      39 non-null     float64
 62  ml_magibllim       65 non-null     float64
 63  ml_radeinang       269 non-null    float64
 64  ml_radeinangerr1   248 non-null    float64
 65  ml_radeinangerr2   248 non-null    float64
 66  ml_radeinanglim    269 non-null    float64
 67  ml_pmrells         256 non-null    float64
 68  ml_pmrellserr1     242 non-null    float64
 69  ml_pmrellserr2     242 non-null    float64
 70  ml_pmrellslim      256 non-null    float64
 71  ml_modeldef        331 non-null    int64
 72  htmllink           331 non-null    object
dtypes: float64(66), int64(3), object(4)
memory usage: 188.9+ KB

In [104]:
mlen.isnull().sum()

pl_name            0
rastr              0
decstr             0
pl_masse          32
pl_masseerr1      35
                  ..
ml_pmrellserr1    89
ml_pmrellserr2    89
ml_pmrellslim     75
ml_modeldef        0
htmllink           0
Length: 73, dtype: int64

In [105]:
mlen.columns

Index(['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_masseerr1',
       'pl_masseerr2', 'pl_masselim', 'pl_massj', 'pl_massjerr1',
       'pl_massjerr2', 'pl_massjlim', 'pl_orbsmax', 'pl_orbsmaxerr1',
       'pl_orbsmaxerr2', 'pl_orbsmaxlim', 'st_mass', 'st_masserr1',
       'st_masserr2', 'st_masslim', 'sy_dist', 'sy_disterr1', 'sy_disterr2',
       'sy_distlim', 'ml_dists', 'ml_distserr1', 'ml_distserr2', 'ml_distslim',
       'ml_tsepmin', 'ml_tsepminerr1', 'ml_tsepminerr2', 'ml_tsepminlim',
       'ml_sepminnorm', 'ml_sepminnormerr1', 'ml_sepminnormerr2',
       'ml_sepminnormlim', 'ml_xtimeein', 'ml_xtimeeinerr1', 'ml_xtimeeinerr2',
       'ml_xtimeeinlim', 'ml_radsnorm', 'ml_radsnormerr1', 'ml_radsnormerr2',
       'ml_radsnormlim', 'ml_sepinsnorp', 'ml_sepinsnorperr1',
       'ml_sepinsnorperr2', 'ml_sepinsnorplim', 'ml_massratio',
       'ml_massratioerr1', 'ml_massratioerr2', 'ml_massratiolim',
       'ml_angstlax', 'ml_angstlaxerr1', 'ml_angstlaxerr2', 'ml_angstlaxlim',
       'ml_magis', 'ml_magiserr1', 'ml_magiserr2', 'ml_magislim', 'ml_magibl',
       'ml_magiblerr1', 'ml_magiblerr2', 'ml_magibllim', 'ml_radeinang',
       'ml_radeinangerr1', 'ml_radeinangerr2', 'ml_radeinanglim', 'ml_pmrells',
       'ml_pmrellserr1', 'ml_pmrellserr2', 'ml_pmrellslim', 'ml_modeldef',
       'htmllink'],
      dtype='object')

### Documentation

Como se puede observar los nombres de cada una de las columnas no son intuitivos. Se puede visitar la siguiente documentaciÃ³n para una explicaciÃ³n de el significado de cada una de las columnas y lo que representa:

https://exoplanetarchive.ipac.caltech.edu/docs/API_ML.html
https://exoplanetarchive.ipac.caltech.edu/docs/microlensing-column-mapping.pdf

Sin embargo solo seran seleccionadas las listadas a continuaciÃ³n:

- **pl_name:** Planet Name (Planet name)
- **rastr:** RA (Right ascension of the microlensing event, in sexagesimal format
- **decstr:** Declination of the microlensing event, in sexagesimal format
- **pl_masse:** Mass of planet, in Earth masses
- **pl_massj:** Planet Mass (Mass of planet, in Jupiter masses)
- **pl_orbsmax** Planet-star Projected Semi-major Axis, unidad = Astronomical unit (au) 
- **sy_dist:** Lens Distance, unidad = Parsec (pc)
- **ml_dists:** Source Distance, unidad = Parsec (pc)
- **ml_xtimeein:**'  
- **ml_massratio:** Planet-star Mass Ratio (10^-4)
- **ml_magis:** Source I-band unidad = mag 
- **ml_radeinang:** Angular Einstein Radius, unidad = mas

De la siguiente manera se pueden seleccionar las columnas especificadas anteriormente.

### wrangling

In [106]:
to_keep = ['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_massj', 'pl_orbsmax', 'sy_dist',
           'ml_dists', 'ml_xtimeein', 'ml_massratio', 'ml_magis', 'ml_radeinang']

Nos aseguramos de que esten bien los nombres

In [107]:
mlen = mlen[to_keep]

In [108]:
mlen.head(3)

,pl_name,rastr,decstr,pl_masse,pl_massj,pl_orbsmax,sy_dist,ml_dists,ml_xtimeein,ml_massratio,ml_magis,ml_radeinang
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,NaN,8000.0,16.18,19.100,20.680,0.250
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.06475,4.18,3550.0,NaN,19.83,3.124,18.112,0.503
2,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,NaN,8000.0,16.02,18.200,20.680,0.250

**Cambiando los nombres a las columnas por nombres mÃ¡s intuitivos**

In [109]:
mlen.columns

Index(['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_massj', 'pl_orbsmax',
       'sy_dist', 'ml_dists', 'ml_xtimeein', 'ml_massratio', 'ml_magis',
       'ml_radeinang'],
      dtype='object')

In [110]:
len(mlen.columns)

12

In [111]:
mlen.columns

Index(['pl_name', 'rastr', 'decstr', 'pl_masse', 'pl_massj', 'pl_orbsmax',
       'sy_dist', 'ml_dists', 'ml_xtimeein', 'ml_massratio', 'ml_magis',
       'ml_radeinang'],
      dtype='object')

In [112]:
new_names = ['planet_name',  'ra_event', 'dec_event', 'earth_massses', 'jupiter_masses', 
              'planet_orbmax', 'lens_distance', 'source_distance', 'einstein_cross_time', 'source_mag',
             'planet_star_mass_ratio', 'angular_einstein_radius']

In [113]:
old_names = [name for name in mlen.columns]
len(old_names)

12

In [114]:
len(new_names)

12

In [115]:
dict_names = (dict(zip(old_names, new_names)))

In [116]:
mlen.rename(columns=dict_names, inplace=True)

In [117]:
mlen.head(2)

,planet_name,ra_event,dec_event,earth_massses,jupiter_masses,planet_orbmax,lens_distance,source_distance,einstein_cross_time,source_mag,planet_star_mass_ratio,angular_einstein_radius
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,NaN,8000.0,16.18,19.100,20.680,0.250
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.06475,4.18,3550.0,NaN,19.83,3.124,18.112,0.503

#### Transformando lens_distance and source_distance de parsecs a aÃ±os luz y agregandolos como nuevas columnas

In [118]:
mlen['lens_distance_ly'] = mlen['lens_distance'] * 3.262

In [119]:
mlen['source_distance_ly'] = mlen['source_distance'] * 3.262

In [127]:
mlen.head(2)

,planet_name,ra_event,dec_event,earth_massses,jupiter_masses,planet_orbmax,lens_distance,source_distance,einstein_cross_time,source_mag,planet_star_mass_ratio,angular_einstein_radius,lens_distance_ly,source_distance_ly
0,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.18,19.100,20.680,0.250,NaN,26096.0
1,MOA-2013-BLG-605L b,17 58 42.85,-29 23 53.66,20.58,0.06475,4.18,3550.0,NaN,19.83,3.124,18.112,0.503,11580.1,NaN

Puede leer la siguiente documentaciÃ³n para entender porque se le da el siguiente formato a ra_event y dec_event

https://www.ing.iac.es//Astronomy/telescopes/wht/catformat.html

In [121]:
mlen['ra_event'] = mlen['ra_event'].str.replace(r'[hm]', ' ', regex=True).str.replace(r's', '', regex=True)

In [122]:
mlen['ra_event'] = mlen['ra_event'].str.strip()

In [123]:
mlen['dec_event'] = mlen['dec_event'].str.replace(r'[dm]', ' ', regex=True).str.replace(r's', '', regex=True)

In [125]:
mlen.head()

,planet_name,ra_event,dec_event,earth_massses,jupiter_masses,planet_orbmax,lens_distance,source_distance,einstein_cross_time,source_mag,planet_star_mass_ratio,angular_einstein_radius,lens_distance_ly,source_distance_ly
0,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.18,19.100,20.680,0.250,NaN,26096.0
1,MOA-2013-BLG-605L b,17 58 42.85,-29 23 53.66,20.58,0.06475,4.18,3550.0,NaN,19.83,3.124,18.112,0.503,11580.1,NaN
2,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.02,18.200,20.680,0.250,NaN,26096.0
3,OGLE-2005-BLG-390L b,17 54 19.2,-30 22 38,5.50,0.01700,2.60,6600.0,8000.0,11.03,0.760,NaN,NaN,21529.2,26096.0
4,OGLE-2012-BLG-0950L b,18 08 04.62,-29 43 53.7,36.00,0.11000,2.70,3400.0,NaN,68.50,1.900,19.300,0.860,11090.8,NaN

#### Saving microlensing data

In [130]:
mlen.to_csv('microlensing_data.csv', index=False)

### Description

In [56]:
mlen.isnull().mean()

planet_name                0.000000
ra_event                   0.000000
dec_event                  0.000000
earth_massses              0.096677
jupiter_masses             0.096677
planet_orbmax              0.105740
lens_distance              0.102719
source_distance            0.673716
einstein_cross_time        0.045317
source_mag                 0.051360
planet_star_mass_ratio     0.259819
angular_einstein_radius    0.187311
dtype: float64

In [78]:
mlen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   planet_name              331 non-null    object
 1   ra_event                 331 non-null    object
 2   dec_event                331 non-null    object
 3   earth_massses            299 non-null    float64
 4   jupiter_masses           299 non-null    float64
 5   planet_orbmax            296 non-null    float64
 6   lens_distance            297 non-null    float64
 7   source_distance          108 non-null    float64
 8   einstein_cross_time      316 non-null    float64
 9   source_mag               314 non-null    float64
 10  planet_star_mass_ratio   245 non-null    float64
 11  angular_einstein_radius  269 non-null    float64
 12  lens_distance_ly         297 non-null    float64
 13  source_distance_ly       108 non-null    float64
dtypes: float64(11), object(3)
memory usage: 36.3+ KB

Quizas podrÃ­as expresar lens_distance y source_distance en kilometros o aÃ±os luz - data enrichment **done**

Obten la composite planet data para ver si puedes encontrar los missing values del datafrae de los planetas encontrados por microlensing **done**

Puedes ver cuantos han sido descubiertos por microlensing, transito o otros metodos

Categorical column base in mass

Description about the planet from here 
https://exoplanets.nasa.gov/discovery/exoplanet-catalog/

Hacer un concat de las 452 tablas que tienes aquÃ­ (tienes que usar selenium para esto)
https://exoplanets.nasa.gov/discovery/exoplanet-catalog/

Quieres entrar en cada uno de estos y obtener el tipo de planeta y el metodo de deteciÃ³n
https://exoplanets.nasa.gov/exoplanet-catalog/7466/ogle-2016-blg-1067l-b/

- sustituir valores nulos con la otra tabla
- Data enrichment agregando como nuevas columnas lens_distance y source distance en aÃ±os luz **done**
- Agregar al dataframe de microlensing la descripciÃ³n de cada planeta que se detecto por estÃ¡ tecnica
- Colacar una columna de valores categoricos basado gass giant...etc de acuerdo a la masa de cada planeta.
- Agregar la descripciÃ³n a la tabla mÃ¡s grande 
- Hacer un join con la de microlensing  de 300 con el filter de microlensing para tener un nuevo dataframe con valores mixtos y la descripciÃ³n
- Calcular el nÃºmero de planetas que son de un tipo especifico gass giant...etc
- Calcular el nÃºmero de planetas por el metodo de detectiÃ³n 
- sort value de manera descendente del periodo orbital (cuÃ¡l es el mÃ¡s rÃ¡pido) groupby (orbital period y tamaÃ±o de la orbita) leyes de kepler
- DespuÃ©s puedes graficar en base a planet type column (puedes hacer uno dandole tamaÃ±o del punto con planet mass column y un histograma de frecuencias con la columna type)

#### How to make query

https://exoplanetarchive.ipac.caltech.edu/docs/TAP/usingTAP.html

#### Planetary systems composite documentation

https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html

## Segundo DataFrame

Data column description:

- **planet_name:** Planet Name
- **hostname:** Stellar name 
- **sys_num_stars:** Number of Stars
- **sys_num_planet:** Number of Planets 
- **discovery_method:** Discovery Method
- **discovery_year:** Discovery Year
- **discovery_telescope:** Discovery Telescope
- **orbital_period:** Orbital Period, unit=days 
- **orbital_semi_major:** Orbit Semi-Major Axis, unit = au 
- **planet_radius_earth:** Planet Radius (Earth Radius)
- **planet_radius_jupiter:** Planet Radius (Jupiter Radius) 
- **planet_mass_earth:** Planet Mass (Earth Mass)
- **planet_mass_jupiter:** Planet Mass (Jupiter Mass) 
- **eccentricity:** Eccentricity
- **stellar_eff_temp:** Stellar Effective Temperature unit=K 
- **stellar_radius:** Stellar Radius (Solar Radius) 
- **stellar_mass:** Stellar Mass
- **dist_system:** Distance, unit = pc

### Data acqusition

In [35]:
response = requests.get('https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_telescope,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,pl_bmassj,pl_orbeccen,st_spectype,st_teff,st_rad,st_mass,sy_dist+from+pscomppars&format=json')

In [36]:
response

In [39]:
ps_comp = pd.DataFrame(response.json())

In [40]:
ps_comp.head()

,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_telescope,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,pl_bmassj,pl_orbeccen,st_spectype,st_teff,st_rad,st_mass,sy_dist
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,1,1,Microlensing,2020,1.3 m Warsaw University Telescope,NaN,3.4000,13.90,1.240,250.0,0.79000,NaN,None,NaN,NaN,0.10,NaN
1,GJ 480 b,GJ 480,1,1,Radial Velocity,2020,Multiple Telescopes,9.567000,0.0680,3.69,0.330,13.2,0.04153,0.1,M3.5 Ve,3381.0,0.46,0.45,14.2358
2,Kepler-276 c,Kepler-276,1,3,Transit,2013,0.95 m Kepler Telescope,31.884000,0.1994,2.90,0.259,16.6,0.05200,0.0,None,5779.0,1.03,1.10,1144.8600
3,Kepler-829 b,Kepler-829,1,1,Transit,2016,0.95 m Kepler Telescope,6.883376,0.0678,2.11,0.188,5.1,0.01600,0.0,None,5698.0,0.97,0.98,1073.7600
4,K2-283 b,K2-283,1,1,Transit,2018,0.95 m Kepler Telescope,1.921036,0.0291,3.52,0.314,12.2,0.03830,NaN,None,5060.0,0.82,0.89,402.9150

### Info

In [41]:
ps_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4516 entries, 0 to 4515
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          4516 non-null   object
 1   hostname         4516 non-null   object
 2   sy_snum          4516 non-null   int64
 3   sy_pnum          4516 non-null   int64
 4   discoverymethod  4516 non-null   object
 5   disc_year        4516 non-null   int64
 6   disc_telescope   4516 non-null   object
 7   pl_orbper        4365 non-null   float64
 8   pl_orbsmax       4331 non-null   float64
 9   pl_rade          4502 non-null   float64
 10  pl_radj          4500 non-null   float64
 11  pl_bmasse        4494 non-null   float64
 12  pl_bmassj        4494 non-null   float64
 13  pl_orbeccen      3981 non-null   float64
 14  st_spectype      1638 non-null   object
 15  st_teff          4394 non-null   float64
 16  st_rad           4375 non-null   float64
 17  st_mass          4512 non-null   float64
 18  sy_dist          4510 non-null   float64
dtypes: float64(11), int64(3), object(5)
memory usage: 670.5+ KB

In [42]:
ps_comp.isnull().mean()

pl_name            0.000000
hostname           0.000000
sy_snum            0.000000
sy_pnum            0.000000
discoverymethod    0.000000
disc_year          0.000000
disc_telescope     0.000000
pl_orbper          0.033437
pl_orbsmax         0.040965
pl_rade            0.003100
pl_radj            0.003543
pl_bmasse          0.004872
pl_bmassj          0.004872
pl_orbeccen        0.118468
st_spectype        0.637290
st_teff            0.027015
st_rad             0.031222
st_mass            0.000886
sy_dist            0.001329
dtype: float64

### Wrangling

La columna st_spectype tiene un 63% de valores nulos, asi que se eliminara del dataframe ya que no es tan relevante para los fines de este proyecto.

In [45]:
ps_comp.drop(columns='st_spectype', inplace=True)

In [46]:
ps_comp.head(2)

,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_telescope,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_bmasse,pl_bmassj,pl_orbeccen,st_teff,st_rad,st_mass,sy_dist
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,1,1,Microlensing,2020,1.3 m Warsaw University Telescope,NaN,3.400,13.90,1.24,250.0,0.79000,NaN,NaN,NaN,0.10,NaN
1,GJ 480 b,GJ 480,1,1,Radial Velocity,2020,Multiple Telescopes,9.567,0.068,3.69,0.33,13.2,0.04153,0.1,3381.0,0.46,0.45,14.2358

In [57]:
new_names_ps = ['planet_name', 'hostname', 'sys_num_stars', 'sys_num_planet', 'discovery_method', 
                'discovery_year', 'discovery_telescope', 'orbital_period', 'orbital_semi_major', 'planet_radius_earth',
               'planet_radius_jupiter', 'planet_mass_earth', 'planet_mass_jupiter', 'eccentricity', 'stellar_eff_temp',
               'stellar_radius', 'stellar_mass', 'dist_system']

In [60]:
old_names_ps = [colum for colum in ps_comp.columns]

In [62]:
dict_ps = dict(zip(old_names_ps, new_names_ps))

{'pl_name': 'planet_name',
 'hostname': 'hostname',
 'sy_snum': 'sys_num_stars',
 'sy_pnum': 'sys_num_planet',
 'discoverymethod': 'discovery_method',
 'disc_year': 'discovery_year',
 'disc_telescope': 'discovery_telescope',
 'pl_orbper': 'orbital_period',
 'pl_orbsmax': 'orbital_semi_major',
 'pl_rade': 'planet_radius_earth',
 'pl_radj': 'planet_radius_jupiter',
 'pl_bmasse': 'planet_mass_earth',
 'pl_bmassj': 'planet_mass_jupiter',
 'pl_orbeccen': 'eccentricity',
 'st_teff': 'stellar_eff_temp',
 'st_rad': 'stellar_radius',
 'st_mass': 'stellar_mass',
 'sy_dist': 'dist_system'}

In [63]:
ps_comp.rename(columns=dict_ps, inplace=True)

In [65]:
ps_comp.columns

Index(['planet_name', 'hostname', 'sys_num_stars', 'sys_num_planet',
       'discovery_method', 'discovery_year', 'discovery_telescope',
       'orbital_period', 'orbital_semi_major', 'planet_radius_earth',
       'planet_radius_jupiter', 'planet_mass_earth', 'planet_mass_jupiter',
       'eccentricity', 'stellar_eff_temp', 'stellar_radius', 'stellar_mass',
       'dist_system'],
      dtype='object')

In [132]:
ps_comp.head()

,planet_name,hostname,sys_num_stars,sys_num_planet,discovery_method,discovery_year,discovery_telescope,orbital_period,orbital_semi_major,planet_radius_earth,planet_radius_jupiter,planet_mass_earth,planet_mass_jupiter,eccentricity,stellar_eff_temp,stellar_radius,stellar_mass,dist_system
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,1,1,Microlensing,2020,1.3 m Warsaw University Telescope,NaN,3.4000,13.90,1.240,250.0,0.79000,NaN,NaN,NaN,0.10,NaN
1,GJ 480 b,GJ 480,1,1,Radial Velocity,2020,Multiple Telescopes,9.567000,0.0680,3.69,0.330,13.2,0.04153,0.1,3381.0,0.46,0.45,14.2358
2,Kepler-276 c,Kepler-276,1,3,Transit,2013,0.95 m Kepler Telescope,31.884000,0.1994,2.90,0.259,16.6,0.05200,0.0,5779.0,1.03,1.10,1144.8600
3,Kepler-829 b,Kepler-829,1,1,Transit,2016,0.95 m Kepler Telescope,6.883376,0.0678,2.11,0.188,5.1,0.01600,0.0,5698.0,0.97,0.98,1073.7600
4,K2-283 b,K2-283,1,1,Transit,2018,0.95 m Kepler Telescope,1.921036,0.0291,3.52,0.314,12.2,0.03830,NaN,5060.0,0.82,0.89,402.9150

#### Transformando la columna dist_system de pc a aÃ±os luz y agrengandola como una nueva columna al dataframe

In [133]:
ps_comp['dist_system_ly'] = ps_comp['dist_system'] * 3.262

In [134]:
ps_comp.head()

,planet_name,hostname,sys_num_stars,sys_num_planet,discovery_method,discovery_year,discovery_telescope,orbital_period,orbital_semi_major,planet_radius_earth,planet_radius_jupiter,planet_mass_earth,planet_mass_jupiter,eccentricity,stellar_eff_temp,stellar_radius,stellar_mass,dist_system,dist_system_ly
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,1,1,Microlensing,2020,1.3 m Warsaw University Telescope,NaN,3.4000,13.90,1.240,250.0,0.79000,NaN,NaN,NaN,0.10,NaN,NaN
1,GJ 480 b,GJ 480,1,1,Radial Velocity,2020,Multiple Telescopes,9.567000,0.0680,3.69,0.330,13.2,0.04153,0.1,3381.0,0.46,0.45,14.2358,46.43718
2,Kepler-276 c,Kepler-276,1,3,Transit,2013,0.95 m Kepler Telescope,31.884000,0.1994,2.90,0.259,16.6,0.05200,0.0,5779.0,1.03,1.10,1144.8600,3734.53332
3,Kepler-829 b,Kepler-829,1,1,Transit,2016,0.95 m Kepler Telescope,6.883376,0.0678,2.11,0.188,5.1,0.01600,0.0,5698.0,0.97,0.98,1073.7600,3502.60512
4,K2-283 b,K2-283,1,1,Transit,2018,0.95 m Kepler Telescope,1.921036,0.0291,3.52,0.314,12.2,0.03830,NaN,5060.0,0.82,0.89,402.9150,1314.30873

In [140]:
ps_comp.shape

(4516, 19)

#### Saving Planetary systems composite data

In [138]:
ps_comp.to_csv('ps_comp_data.csv')

### Creando sub arreglo de microlensing

In [135]:
ps_comp['discovery_method'].unique()

array(['Microlensing', 'Radial Velocity', 'Transit',
       'Eclipse Timing Variations', 'Astrometry', 'Imaging',
       'Orbital Brightness Modulation', 'Transit Timing Variations',
       'Pulsar Timing', 'Disk Kinematics', 'Pulsation Timing Variations'],
      dtype=object)

## Tercer DataFrame

In [136]:
ps_mlen = ps_comp.loc[ps_comp['discovery_method'] == 'Microlensing']

In [137]:
ps_mlen.head(2)

,planet_name,hostname,sys_num_stars,sys_num_planet,discovery_method,discovery_year,discovery_telescope,orbital_period,orbital_semi_major,planet_radius_earth,planet_radius_jupiter,planet_mass_earth,planet_mass_jupiter,eccentricity,stellar_eff_temp,stellar_radius,stellar_mass,dist_system,dist_system_ly
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,1,1,Microlensing,2020,1.3 m Warsaw University Telescope,NaN,3.4,13.90,1.240,250.0,0.790,NaN,NaN,NaN,0.10,NaN,NaN
13,OGLE-2015-BLG-0966L b,OGLE-2015-BLG-0966L,1,1,Microlensing,2016,1.3 m Warsaw University Telescope,NaN,2.7,4.86,0.433,21.0,0.066,NaN,NaN,NaN,0.38,3300.0,10764.6

In [141]:
ps_mlen.shape

(114, 19)

In [143]:
mlen.head(2)

,planet_name,ra_event,dec_event,earth_massses,jupiter_masses,planet_orbmax,lens_distance,source_distance,einstein_cross_time,source_mag,planet_star_mass_ratio,angular_einstein_radius,lens_distance_ly,source_distance_ly
0,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.18,19.100,20.680,0.250,NaN,26096.0
1,MOA-2013-BLG-605L b,17 58 42.85,-29 23 53.66,20.58,0.06475,4.18,3550.0,NaN,19.83,3.124,18.112,0.503,11580.1,NaN

In [147]:
ps_mlen.head(2)

,planet_name,hostname,sys_num_stars,sys_num_planet,discovery_method,discovery_year,discovery_telescope,orbital_period,orbital_semi_major,planet_radius_earth,planet_radius_jupiter,planet_mass_earth,planet_mass_jupiter,eccentricity,stellar_eff_temp,stellar_radius,stellar_mass,dist_system,dist_system_ly
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,1,1,Microlensing,2020,1.3 m Warsaw University Telescope,NaN,3.4,13.90,1.240,250.0,0.790,NaN,NaN,NaN,0.10,NaN,NaN
13,OGLE-2015-BLG-0966L b,OGLE-2015-BLG-0966L,1,1,Microlensing,2016,1.3 m Warsaw University Telescope,NaN,2.7,4.86,0.433,21.0,0.066,NaN,NaN,NaN,0.38,3300.0,10764.6

In [150]:
merged = pd.merge(mlen, ps_mlen, on='planet_name')

In [151]:
merged.head()

,planet_name,ra_event,dec_event,earth_massses,jupiter_masses,planet_orbmax,lens_distance,source_distance,einstein_cross_time,source_mag,...,planet_radius_earth,planet_radius_jupiter,planet_mass_earth,planet_mass_jupiter,eccentricity,stellar_eff_temp,stellar_radius,stellar_mass,dist_system,dist_system_ly
0,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.18,19.1,...,14.1,1.26,200.0,0.64,NaN,NaN,NaN,0.31,7040.0,22964.48
1,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.02,18.2,...,14.1,1.26,200.0,0.64,NaN,NaN,NaN,0.31,7040.0,22964.48
2,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,200.0,0.64,NaN,7040.0,8000.0,16.05,19.7,...,14.1,1.26,200.0,0.64,NaN,NaN,NaN,0.31,7040.0,22964.48
3,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.08,13.2,...,14.1,1.26,200.0,0.64,NaN,NaN,NaN,0.31,7040.0,22964.48
4,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,NaN,NaN,8000.0,16.18,12.8,...,14.1,1.26,200.0,0.64,NaN,NaN,NaN,0.31,7040.0,22964.48

In [153]:
merged.shape

(331, 32)

Las columnas earth_masses y jupiter_massses seran remplazadas por planet_mass_earth y planet_mass_jupiter.

Mientras que las columnas orbital_period, stellar_eff_temp, stellar_radius y eccentricity seran eliminadas del dataframe debido a la gran cantidad de valores nulos que tienen para planetas detectatos por microlensing.

In [161]:
merged.isnull().mean()

planet_name                0.000000
ra_event                   0.000000
dec_event                  0.000000
earth_massses              0.096677
jupiter_masses             0.096677
planet_orbmax              0.105740
lens_distance              0.102719
source_distance            0.673716
einstein_cross_time        0.045317
source_mag                 0.051360
planet_star_mass_ratio     0.259819
angular_einstein_radius    0.187311
lens_distance_ly           0.102719
source_distance_ly         0.673716
hostname                   0.000000
sys_num_stars              0.000000
sys_num_planet             0.000000
discovery_method           0.000000
discovery_year             0.000000
discovery_telescope        0.000000
orbital_period             0.930514
orbital_semi_major         0.018127
planet_radius_earth        0.000000
planet_radius_jupiter      0.000000
planet_mass_earth          0.000000
planet_mass_jupiter        0.000000
eccentricity               0.975831
stellar_eff_temp           0.969789
stellar_radius             0.993958
stellar_mass               0.000000
dist_system                0.015106
dist_system_ly             0.015106
dtype: float64

In [166]:
merged.drop(columns=['earth_massses', 'jupiter_masses', 'orbital_period', 'stellar_eff_temp', 'stellar_radius', 'eccentricity'], inplace=True)

In [168]:
merged.head()

,planet_name,ra_event,dec_event,planet_orbmax,lens_distance,source_distance,einstein_cross_time,source_mag,planet_star_mass_ratio,angular_einstein_radius,...,discovery_year,discovery_telescope,orbital_semi_major,planet_radius_earth,planet_radius_jupiter,planet_mass_earth,planet_mass_jupiter,stellar_mass,dist_system,dist_system_ly
0,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,8000.0,16.18,19.1,20.68,0.25,...,2020,1.6 m wide-field telescope,NaN,14.1,1.26,200.0,0.64,0.31,7040.0,22964.48
1,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,8000.0,16.02,18.2,20.68,0.25,...,2020,1.6 m wide-field telescope,NaN,14.1,1.26,200.0,0.64,0.31,7040.0,22964.48
2,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,7040.0,8000.0,16.05,19.7,20.68,0.25,...,2020,1.6 m wide-field telescope,NaN,14.1,1.26,200.0,0.64,0.31,7040.0,22964.48
3,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,8000.0,16.08,13.2,20.68,0.25,...,2020,1.6 m wide-field telescope,NaN,14.1,1.26,200.0,0.64,0.31,7040.0,22964.48
4,KMT-2019-BLG-1953L b,17 56 27.90,-28 12 04.00,NaN,NaN,8000.0,16.18,12.8,20.68,0.25,...,2020,1.6 m wide-field telescope,NaN,14.1,1.26,200.0,0.64,0.31,7040.0,22964.48

In [171]:
merged['planet_name'].value_counts()

OGLE-2015-BLG-0966L b    16
OGLE-2012-BLG-0950L b    12
KMT-2018-BLG-1990L b     11
OGLE-2016-BLG-1195L b    10
KMT-2016-BLG-1836L b      7
                         ..
MOA-bin-1L b              1
MOA-2007-BLG-192L b       1
OGLE-2018-BLG-1428L b     1
UKIRT-2017-BLG-001L b     1
OGLE-2008-BLG-355L b      1
Name: planet_name, Length: 114, dtype: int64